<tr>
  <td>
    <%= category.name %>
    <div class="actions">
      <%= action_button_to edit_admin_category_path(category), type: 'primary', glyphicon: 'pencil' %>
      <%= action_button_to admin_category_path(category), type: 'danger', glyphicon: 'trash',
                           method: :delete,
                           'data-confirm' => "Czy na pewno chcesz usunąć kategorię <em>#{category.name}</em>?" %>
      <%= action_button_to '#', type: 'success', glyphicon: 'list' %>
    </div>
  </td>
  <td>
    <%= category.text_id %><br />
  </td>
</tr>