<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head', locals: {layout: 'guest'} %>
</head>
<body id="column-layout">
<div id="left-spacer" class="layout-column"></div>
<div id="sidebar-wr" class="layout-column">
  <div id="sidebar">
    <%= link_to (image_tag 'sign.png', id: 'sign', alt: 'Paweł Pieńkowski (podpis)'), root_path %>
  </div>
</div>
<div id="main-wr" class="layout-column">
  <div id="main">
    <div id="menu">
      <ul>
        <%
           menu_list_item = ->(category) do
             content_tag :li, class: (has_params?(controller: 'guest/posts', category_text_id: category) ? 'active' : nil) do
               link_to category_name(category), guest_posts_path(category)
             end
           end
        %>
        <%= menu_list_item.call 'blog' %>
        <li><%= link_to 'o mnie', '#' %></li>
        <%= menu_list_item.call 'articles' %>
        <%= menu_list_item.call 'projects' %>
        <%= menu_list_item.call 'gallery' %>
      </ul>
      <hr />
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>
<div id="right-spacer" class="layout-column"></div>
</body>
</html>